packages: [
  ".bin"
  "aligner"
  "aligner-php"
  "atom-beautify"
  "atom-monokai"
  "atom-typescript"
  "drunken-php"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "keyboard-localization"
  "linter"
  "minimap"
  "open-recent"
  "package-sync"
  "php-cs-fixer"
  "php-debug"
  "symbols-tree-view"
  "tabs-to-spaces"
]
